[default]
# 'default' is special, it is used if no other policy matches a channel

strategy = static
base_fee_msat = 0
fee_ppm = 50

[mydefaults]
# no strategy, so this only sets some defaults

base_fee_msat = 0
min_fee_ppm_delta = 5
time_lock_delta = 40
min_htlc_msat = 1000

[known-one-way-drains]
# Big nodes that tends to drain funds

node.id = 033d8656219478701227199cbd6f670335c8d408a92ae88b962c49d4dc0e83e025,
          03cde60a6323f7122d5178255766e38114b4722ede08f7c9e0c5df9b912cc201d6,
          0390b5d4492dc2f5318e5233ab2cebf6d48914881a33ef6a9c6bcdbb433ad986d0,
          03abf6f44c355dec0d5aa155bdbdd6e0c8fefe318eff402de65c6eb2e1be55dc3e

strategy = static
fee_ppm = 300
base_fee_msat = 0

[loop]
# LOOP node is a drain. Ensure high fees so channels do not get drained ASAP

node.id = 021c97a90a411ff2b10dc2a8e32de2f29d2fa49d41bfbb52bd416e460db0747d0d

strategy = static
fee_ppm = 4500
base_fee_msat = 0

[static-fees]
# Big nodes that tends to drain funds

node.id = 03f3297397c8f5f685a562847611e20d15f56d6aaabc4d808a6e04e631dea6e612,
          02a3eca02576113316cd37f78c9ab9c0aaf6cb4afae83f28ddf9f01d3baa1af6e9

strategy = static
fee_ppm = 150
base_fee_msat = 0

[expensive]
# match channels where the peer node has set a high ppm fee rate
# and set the same fee rate on our side (strategy=match_peer)

chan.min_fee_ppm = 1_000
chan.max_ratio = 0.3

strategy = match_peer

[proportional]
# Set fees proportionally to how the channel is funds are balanced

strategy = proportional
base_fee_msat = 0
min_fee_ppm = 5
max_fee_ppm = 150

[leafnode]
# Non-routing channels have a constant fee

chan.private = true

strategy = static
fee_ppm = 25
base_fee_msat = 0
