[default]
# 'default' is special, it is used if no other policy matches a channel

strategy = static
time_lock_delta = 30
base_fee_msat = 0
fee_ppm = 2500

[mydefaults]
# no strategy, so this only sets some defaults

base_fee_msat = 0
fee_ppm = 2500
min_fee_ppm_delta = 10
time_lock_delta = 30

[static-fee-nodes]
# These nodes are sinks and should have a static high fee as they will get drained to fast if they are set too low.

node.id = 021c97a90a411ff2b10dc2a8e32de2f29d2fa49d41bfbb52bd416e460db0747d0d,
          02f1a8c87607f415c8f22c00593002775941dea48869ce23096af27b0cfdcc0b69

strategy = ignore

[1500-static-fee-nodes]
strategy = static
fee_ppm = 1500
